<?php

// URLs to nextCloud instance (use same url as rc to avoid cross domains problems)
$rcmail_config['nextcloud_url'] = '';

// DES key for password
$rcmail_config['roundcube_nextcloud_des_key'] = 'my_key_is_good_need_to24';
