.iframe-wrapper {
	height: calc(100% - 58px);
}
#content {
	width: 100%;
}
#newnote::before {
	content: "\f0fe";
	display: block;
	text-align: center;
}
#notestoolbar a {
	font-family: "Icons";
	font-size: 1.35rem;
	font-style: normal;
}
#notestoolbar a.button::before {
	margin-bottom: -29px;
	margin-top: -10px;
}
#notestoolbar a .inner {
	font-family: Roboto,sans-serif;
	font-size: 0.65em;
	font-weight: normal;
}
#editnote::before {
	content: "\f044";
}
#deletenote::before {
	content: "\f2ed";
}
#sendnote::before {
	content: "\f1e1";
}
#addnote::before {
	content: "\f093";
}

.iframebox.simplenotes_ {
    height: 100%}
#pluginbody {
    height: 100%}
#newmenu-menu li a {
    color: #000!important;
}
#notestoolbar a.dropdown {
    min-width: inherit!important;
    max-width: inherit!important;
    width: 16px!important;
    padding: 0!important;
}
#newnote {
    padding-right: 0!important;
    max-width: 45px!important;
    min-width: 0!important;
    text-align: right!important;
}
#notestoolbar a.dropdown::before {
    width: 16px!important;
}
#taskbar a.button-notes span.button-inner {
    background: url(images/notes002.png) no-repeat;
    background-position: 0 0;
    display: inline-block;
}
#taskbar a.button-notes:hover span.button-inner, #taskbar a.button-notes.button-selected span.button-inner {
    background-position: 0 -24px;
}
.menuentry {
    color: #fff!important;
}
.menuentry:hover {
    background: #0883d0;
}
#notestoolbar {
    top: -2px;
    position: absolute;
    height: 58px;
}
.toolbar a.button:focus {
    color: #fff;
    background-color: rgba(30, 150, 192, 0.5)!important;
    border-radius: 3px;
}
#notestoolbar a.button {
    overflow: hidden;
    display: inline-block;
    border: 0!important;
    min-width: 3.5rem;
    max-width: 6rem;
    width: auto;
    padding: .5rem .45rem .45rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    line-height: 2.5;
}
.toolbar a.button::before {
	display: block;
}
#notestoolbar .disabled {
    pointer-events: none;
}
.upl {
    display: none;
}