#taskmenu a.button-nextcloud:before {
    content: "\f0c2"
}

#page-switch .join-button, #page-switch .more-button {
	margin-right: 20px;
}

#nextcloud_frame {
	width: 100%;
	height: 100%;
	border: 0px;
}

#wait_box {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid grey;
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	box-shadow: 0px 0px 2px rgb(153, 153, 153);
}

#img_wait_box {
	background: url(images/wait-big.gif) center center no-repeat;
	height: 100%;
	width: 100%;
}
